{% extends "company/basic.html" %}
{% block title%} About {% endblock %}
{% block body%} 

<div class="container">


<h1 class="text-center" >About CRUD System</h1>
<h3>Discription:</h3>
<p>You've to develop a system with a website, should includes:
    <li>Company Webisite's Pages</li> 
    <li>Services [Crud]</li> 
    <li>Jobs [Crud]</li> 
    <li>User Database</li> 
    <li>User can register itself</li> 
    <li>User can sign-in</li> 
</p>
<h3>Project Functionalities:</h3>
<p>This system with a website, have following functionalities:
    <li><b>Webiste's</b> landing and related pages</li> 
    <li><b>Services:</b> Admin can Creat, Read, Update and Delete the Services </li> 
    <li><b>Testimonials:</b> Admin can Creat, Read, Update and Delete the Client-testimonials </li> 
    <li><b>Technologies:</b> Admin can Creat, Read, Update and Delete the Client-testimonials </li> 
    <li><b>Jobs:</b> Create, Read, Update and Delete the Jobs. and </b>User</b> can also post a job </li> 
    <li><b>User Database:</b>, Pswrds and other Info</li> 
    <li><b>User</b> can Sign-Up, & Sign-in, and also sign-out</li> 
    <li>After Sign-in, there is a :<b>profile</b> page of logged-in user</li> 
</p>
</div>
{% endblock %}